<div class="container-fluid"> 
    <div class="row">
  
        <div class="col-md-6 d-flex justify-content-center align-content-center">
          <div class="col-md-6">
            <h2>Login</h2>
            <label for="">Email</label>
            <input type="text" placeholder="email" class="form-control">
            <label for="">Senha</label>
            <input type="text" placeholder="senha" class="form-control">
          </div>
        </div>
  
          <div class="col-md-6" id="imagem-fundo"></div>
  
    </div>
  
  </div>
